<a href="https://colab.research.google.com/github/PosgradoMNA/Actividades_Aprendizaje-A01794023-Andres_Palacios/blob/main/Actividad_1_Semana_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Actividad 1 Semana 3**

###**Maestría en Inteligencia Artificial Aplicada**
###**Curso: Inteligencia Artificial y Aprendizaje Automático**
####**Tecnológico de Monterrey**

###**Nombre del estudiante: Jaime Andre Palacios Campaña**

###**Matrícula: A01794023**

#Parte 1: Fundamentos de bases de datos

**Fundamentos de bases de datos y almacenes de datos (Data Warehouse) para ciencia de datos.**

Siendo la base de datos un conjunto estructurado de datos dentro de un mismo contexto que se organizan para poder dar una lectura eficiente y rápida de la información. Para la ciencia de datos el manejo de bases de datos siempre va a ser un asiduo tema en la práctica desde diseñar, crear, interactuar en la gran parte de proyectos que tienen que ver con esta ciencia.  Es importante distinguir que hay dos clasificaciones de bases de datos, las de datos relacionales y de datos no relacionales, dependiendo de su naturaleza, se entra a evaluar la tecnología para su optima gestión.
Por otro lado, tenemos el Data Warehouse es una tecnología que recolecta y analiza datos de varias fuentes. También son bases de datos, pero en estas, no solo se compilan y organizan datos, también los agregan para un uso comercial a largo plazo. Con el Data Warehouse se crea un sistema en el cual la información se procesa automáticamente transformándola para luego ser compartida, esta tecnología permite resolver problemas de forma más rápida y optima al centralizarse en una ubicación, permitiendo generar reportes o dashboards para las diferentes áreas de una empresa.

#Parte 2: Selección y limpieza de los Datos en Python

In [1]:
#Importamos las librerias Pandas y Numpy
import pandas as pd
import numpy as np

#Importamos la bd y  usamos pd para leerlo
input = 'https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv'

df = pd.read_csv(input)
df

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29996,29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29997,29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29998,29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
29999,30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

In [2]:
df.describe() # revisamos la descripcion de los datos

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
count,30000.000000,30000.000000,29999.000000,29998.000000,29998.000000,29995.000000,29997.000000,29995.000000,29993.000000,29991.000000,...,29985.000000,29983.000000,29990.000000,29992.000000,2.999100e+04,29992.000000,29989.000000,29989.000000,29995.000000,29997.000000
mean,15000.500000,167484.322667,1.603753,1.853057,1.551903,35.484214,-0.016635,-0.133689,-0.166405,-0.220800,...,43275.652326,40324.493980,38881.135745,5662.945886,5.922489e+03,5225.623400,4827.252526,4800.297209,5216.259977,0.221189
std,8660.398374,129747.661567,0.489125,0.790320,0.521968,9.218024,1.123829,1.197254,1.196048,1.169153,...,64345.500073,60809.984983,59561.312967,16564.165089,2.304418e+04,17608.422625,15668.751975,15280.842069,17778.848359,0.415054
min,1.000000,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7500.750000,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2329.000000,1763.500000,1256.250000,1000.000000,8.355000e+02,390.000000,296.000000,251.000000,118.000000,0.000000
50%,15000.500000,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,...,19052.000000,18107.000000,17081.000000,2100.000000,2.009000e+03,1800.000000,1500.000000,1500.000000,1500.000000,0.000000
75%,22500.250000,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,...,54560.000000,50213.000000,49208.250000,5006.000000,5.000000e+03,4505.500000,4014.000000,4033.000000,4000.000000,0.000000
max,30000.000000,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.000000,621000.000000,426529.000000,528666.000000,1.000000

In [3]:
#Validamos si hay datos faltantes
df.isnull().values.any()

True

In [4]:
#alternativamente:
df.isna().values.any()

True

In [5]:
df.isnull().any()

ID     False
X1     False
X2      True
X3      True
X4      True
X5      True
X6      True
X7      True
X8      True
X9      True
X10     True
X11     True
X12     True
X13     True
X14     True
X15     True
X16     True
X17     True
X18     True
X19     True
X20     True
X21     True
X22     True
X23     True
Y       True
dtype: bool

## Limpieza de datos: 

Observamos que hay datos faltantes desde tercera columna (X2) en adelante. Despues de analizar descripcion de cada columna realizamos la siguiente limpieza

In [6]:
ndf = df.copy() #hacemos una copia de df para la limpieza

### ID: esta columna es irrelevante

In [7]:
ndf = ndf.drop(['ID'], axis = 1)

### X2: Gender (1 = male; 2 = female)

In [8]:
ndf['X2'].isnull().sum() #validamos cuando datos faltantes hay

1

In [9]:
ndf['X2'].fillna(0, inplace = True) 
#reemplazamos los datos faltantes con '0' (cero) que de ahora en adelante sera: "0=No Gender"
ndf['X2'].isnull().sum() #validamos cuando datos faltantes quedaron

0

### X3: Education (1 = graduate school; 2 = university; 3 = high school; 4 = others)

In [10]:
ndf['X3'].isna().sum() #validamos cuando datos faltantes hay

2

In [11]:
mode_X3 = ndf['X3'].mode() #sacamos la moda de la columna X3
mode_X3

0    2.0
dtype: float64

In [12]:
ndf['X3'].fillna(2,inplace=True) #reemplazamos los datos faltantes con la moda de la columna X3
ndf['X3'].isnull().sum() #validamos cuando datos faltantes quedaron

0

In [13]:
ndf['X3'].value_counts() # revisamos las clasificaciones que hay para esta variable

2.0    14032
1.0    10585
3.0     4915
5.0      280
4.0      123
6.0       51
0.0       14
Name: X3, dtype: int64

In [14]:
arr_X3 = 
ndf['X3'].replace(['0.0','5.0','6.0'],2.0,inplace=True)
ndf['X3'].value_counts() # revisamos las clasificaciones que hay para esta variable

2.0    14032
1.0    10585
3.0     4915
5.0      280
4.0      123
6.0       51
0.0       14
Name: X3, dtype: int64

### X4: Marital status (1 = married; 2 = single; 3 = others).

In [15]:
ndf['X4'].isnull().sum() #validamos cuando datos faltantes hay

2

In [16]:
mode_X4 = ndf['X4'].mode() #sacamos la moda de la columna X4
mode_X4

0    2.0
dtype: float64

In [17]:
ndf['X4'].fillna(2,inplace=True) #reemplazamos los datos faltantes con la moda de la columna X4
ndf['X4'].isnull().sum() #validamos cuando datos faltantes quedaron

0

## X5: Age (year)

In [18]:
ndf['X5'].isnull().sum() #validamos cuando datos faltantes hay

5

In [19]:
mean_X5 = ndf['X5'].mean() #sacamos el promedio de la columna X5
mean_X5

35.484214035672615

In [20]:
#Como la la edad es, por lo general, un número entero, redondeamos la media a treinta y cinco (35.0)
ndf['X5'].fillna(35, inplace = True)

ndf['X5'].isnull().sum() #validamos cuando datos faltantes quedaron

0

X6 - X11: History of past payment. We tracked the past monthly payment records (from April to September, 2005) as follows: X6 = the repayment status in September, 2005; X7 = the repayment status in August, 2005; . . .;X11 = the repayment status in April, 2005. The measurement scale for the repayment status is: -1 = pay duly; 1 = payment delay for one month; 2 = payment delay for two months; . . .; 8 = payment delay for eight months; 9 = payment delay for nine months and above.

In [21]:
#Calculamos el numero de datos faltantes en la 6 columnas
ndf[['X6','X7','X8','X9','X10','X11']].isnull().sum()

X6      3
X7      5
X8      7
X9      9
X10    16
X11    14
dtype: int64

In [22]:
#Como observamos, hay pocos datos faltantes en estas columnas por lo cual podriamos presindir sus correspondientes filas.
ndf = ndf.dropna(subset=['X6','X7','X8','X9','X10','X11'])

#Volvemos a validar cuantos datos faltantes quedaron
ndf[['X6','X7','X8','X9','X10','X11']].isna().sum().sum()

0

### X12-X17: Amount of bill statement (NT dollar). X12 = amount of bill statement in September, 2005; X13 = amount of bill statement in August, 2005; . . .; X17 = amount of bill statement in April, 2005.

In [23]:
#Calculamos el numero de datos faltantes en la 6 columnas
ndf[['X12','X13','X14','X15','X16','X17']].isnull().sum()

X12    3
X13    3
X14    5
X15    7
X16    9
X17    5
dtype: int64

In [24]:
#Al igual que en la anteriores columnas hay pocos datos faltantes, por lo cual podriamos presindir también sus correspondientes filas.
ndf = ndf.dropna(subset=['X12','X13','X14','X15','X16','X17'])

#Volvemos a validar cuantos datos faltantes quedaron
ndf[['X12','X13','X14','X15','X16','X17']].isna().sum().sum()

0

### X18-X23: Amount of previous payment (NT dollar). X18 = amount paid in September, 2005; X19 = amount paid in August, 2005; . . .;X23 = amount paid in April, 2005.

In [25]:
#Calculamos el numero de datos faltantes en la 6 columnas
ndf[['X18','X19','X20','X21','X22','X23']].isnull().sum()

X18    0
X19    1
X20    0
X21    2
X22    3
X23    2
dtype: int64

In [26]:
#Mismo proceso que el anterior
ndf = ndf.dropna(subset=['X18','X19','X20','X21','X22','X23'])

#Volvemos a validar cuantos datos faltantes quedaron
ndf[['X18','X19','X20','X21','X22','X23']].isna().sum().sum()

0

In [27]:
ndf.isna().sum() #validamos finalmente si aún hace falta alguun dato

X1     0
X2     0
X3     0
X4     0
X5     0
X6     0
X7     0
X8     0
X9     0
X10    0
X11    0
X12    0
X13    0
X14    0
X15    0
X16    0
X17    0
X18    0
X19    0
X20    0
X21    0
X22    0
X23    0
Y      0
dtype: int64

In [28]:
ndf.dtypes

X1       int64
X2     float64
X3     float64
X4     float64
X5     float64
X6     float64
X7     float64
X8     float64
X9     float64
X10    float64
X11    float64
X12    float64
X13    float64
X14    float64
X15    float64
X16    float64
X17    float64
X18    float64
X19    float64
X20    float64
X21    float64
X22    float64
X23    float64
Y      float64
dtype: object

In [29]:
ndf.describe() # al final qued con 29.961 registros de 30.000, al final sólo perdimos 39 registros para el modelo.

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
count,29961.000000,29961.000000,29961.000000,29961.000000,29961.000000,29961.000000,29961.000000,29961.000000,29961.000000,29961.000000,...,29961.000000,29961.000000,29961.000000,29961.000000,2.996100e+04,29961.000000,29961.000000,29961.000000,29961.000000,29961.000000
mean,167570.831414,1.604052,1.853042,1.551784,35.483395,-0.017156,-0.134041,-0.166783,-0.221121,-0.266847,...,43279.742465,40329.126631,38888.917025,5666.635693,5.926206e+03,5228.981109,4830.090851,4802.842629,5220.932879,0.221154
std,129747.726791,0.489062,0.790463,0.522009,9.213859,1.123947,1.197122,1.195977,1.168370,1.132296,...,64363.745973,60825.064775,59580.737846,16572.172269,2.305530e+04,17617.072002,15675.706098,15287.267034,17788.331077,0.415031
min,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2327.000000,1762.000000,1256.000000,1000.000000,8.350000e+02,390.000000,296.000000,253.000000,118.000000,0.000000
50%,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,19038.000000,18104.000000,17067.000000,2100.000000,2.009000e+03,1800.000000,1500.000000,1500.000000,1500.000000,0.000000
75%,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,54558.000000,50222.000000,49235.000000,5007.000000,5.000000e+03,4512.000000,4015.000000,4040.000000,4000.000000,0.000000
max,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.000000,621000.000000,426529.000000,528666.000000,1.000000

#Parte 3: Preparación de los datos

1.   **¿Qué datos considero mas importantes? ¿Por qué?**

  Desde la columna X12 hasta la columna X23 considero que son importantes ya que historial de pagos pasados, estado de cuenta y monto del pago anterior pueden darme explicación del comportamiento de la persona, por lo cual despues de validar que la información faltante de estos registros era muy poco proporcionalmente al toal de registros, desidí eliminarlos ya que desde mi punto de vista aumentaria el 'accuracy' de la predicción.*

2.   **¿Se eliminaron o reemplazaron datos nulos? ¿Qué se hizo y por qué?**

*   Con respecto a la variable *'X2: Gender'* decidí crear una tercera calisificación nueva a parte de *'male'* y *'female'* con el numero cero *'0'* que se llamara: *'No Gender'*.
*   Para la variable *'X3: Education'* y *'X4: Marital status'*, determiné la moda para saber cual es el dato que más se repite de cada variable y reemplacé los datos faltantes por estos respectivamente.
*   Para la variable *'X5: Age (year)'* calculé la mediana, y luego redondé este dato para remplazarlo por los nulos.
*   Para el resto de las variable decidi eliminar las filas donde existira un dato faltante.

3.   *¿Es necesario ordenar los datos para el análisis? Sí / No / ¿Por qué?*



4.   ¿Existen problemas de formato que deban solucionar antes del proceso de modelado? Sí / No / Por qué.
5.   ¿Qué ajustes se realizaron en el proceso de limpieza de datos (agregar, integrar, eliminar, modificar registros (filas), cambiar atributos (columnas)?