<a href="https://colab.research.google.com/github/PosgradoMNA/Actividades_Aprendizaje-A01794023-Andres_Palacios/blob/main/Actividad_1_Semana_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Actividad 1 Semana 3**

###**Maestría en Inteligencia Artificial Aplicada**
###**Curso: Inteligencia Artificial y Aprendizaje Automático**
####**Tecnológico de Monterrey**

###**Nombre del estudiante: Jaime Andre Palacios Campaña**

###**Matrícula: A01794023**

# 1 Fundamentos de bases de datos y almacenes de datos (Data Warehouse) para ciencia de datos.  
Siendo la base de datos un conjunto estructurado de datos dentro de un mismo contexto que se organizan para poder dar una lectura eficiente y rápida de la información. Para la ciencia de datos el manejo de bases de datos siempre va a ser un asiduo tema en la práctica desde diseñar, crear, interactuar en la gran parte de proyectos que tienen que ver con esta ciencia.  Es importante distinguir que hay dos clasificaciones de bases de datos, las de datos relacionales y de datos no relacionales, dependiendo de su naturaleza, se entra a evaluar la tecnología para su optima gestión.
Por otro lado, tenemos el Data Warehouse es una tecnología que recolecta y analiza datos de varias fuentes. También son bases de datos, pero en estas, no solo se compilan y organizan datos, también los agregan para un uso comercial a largo plazo. Con el Data Warehouse se crea un sistema en el cual la información se procesa automáticamente transformándola para luego ser compartida, esta tecnología permite resolver problemas de forma más rápida y optima al centralizarse en una ubicación, permitiendo generar reportes o dashboards para las diferentes áreas de una empresa.

#Punto 2

In [4]:
#Importamos las librerias Pandas y Numpy
import pandas as pd
import numpy as np

#Importamos la bd y  usamos pd para leerlo
input = 'https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv'

df = pd.read_csv(input)
df

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29996,29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29997,29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29998,29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
29999,30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

In [5]:
#Validamos si hay datos faltantes
df.isnull().values.any()

True

In [7]:
#alternativamente:
df.isna().values.any()

True

In [6]:
df.isnull().any()

ID     False
X1     False
X2      True
X3      True
X4      True
X5      True
X6      True
X7      True
X8      True
X9      True
X10     True
X11     True
X12     True
X13     True
X14     True
X15     True
X16     True
X17     True
X18     True
X19     True
X20     True
X21     True
X22     True
X23     True
Y       True
dtype: bool

## Limpieza de datos: 

Observamos que hay datos faltantes desde tercera columna en adelante. Despues de analizar descripcion de cada columna realizamos la siguiente limpieza

In [9]:
ndf = df.copy() #hacemos una copia de df para la limpieza

### X1: Amount of the given credit (NT dollar):

In [17]:
mean_X1 = ndf['X1'].mean() #sacamos el promedio de la columna X1
mean_X1

167484.32266666667

In [18]:
ndf['X1'].fillna(mean_X1, inplace = True) #reemplazamos los datos faltantes con la media

### X2: Gender (1 = male; 2 = female)

In [19]:
ndf['X2'].fillna(0, inplace = True) 
#reemplazamos los datos faltantes con '0' (cero) que de ahora en adelante sera: "0=No Gender"

### X3: Education (1 = graduate school; 2 = university; 3 = high school; 4 = others)

In [20]:
mode_X3 = ndf['X3'].mode() #sacamos la moda de la columna X3
mode_X3

0    2.0
dtype: float64

In [21]:
ndf['X3'].fillna(mode_X3, inplace = True) #reemplazamos los datos faltantes con la moda de la columna X3

### X4: Marital status (1 = married; 2 = single; 3 = others).

In [22]:
mode_X4 = ndf['X4'].mode() #sacamos la moda de la columna X4
mode_X4

0    2.0
dtype: float64

In [23]:
ndf['X4'].fillna(mode_X4, inplace = True) #reemplazamos los datos faltantes con la moda de la columna X4

## X5: Age (year)

In [24]:
mean_X5 = ndf['X5'].mean() #sacamos el promedio de la columna X5
mean_X5

35.484214035672615

In [25]:
#Como la la edad es, por lo general, un número entero, redondeamos la media a treinta y cinco (35.0)
ndf['X5'].fillna(35.0, inplace = True)

X6 - X11: History of past payment. We tracked the past monthly payment records (from April to September, 2005) as follows: X6 = the repayment status in September, 2005; X7 = the repayment status in August, 2005; . . .;X11 = the repayment status in April, 2005. The measurement scale for the repayment status is: -1 = pay duly; 1 = payment delay for one month; 2 = payment delay for two months; . . .; 8 = payment delay for eight months; 9 = payment delay for nine months and above.

In [30]:
#Calculamos el numero de datos faltantes en la 6 columnas
ndf[['X6','X7','X8','X9','X10','X11']].isnull().sum().sum()

54

In [ ]:
#Como observamos, hay pocos datos faltantes por lo cual podriamos eliminar todas sus filas