# Curso Python Jaime Andres Palacios, matrícula A01794023

**MODULE 1: Python basics**

In [ ]:
#Imprimir por primera vez
print("Hello Python 101")

In [ ]:
#Espaciado
print("Hello\nWorld!")

Hello
World!

**Types**

In [ ]:
#str
type("Hello World")

str

In [ ]:
#int
type(1)

int

In [ ]:
#float
type(1.1)

float

In [ ]:
#bool
type(True)

bool

**Expressions and variables**

"+" suma

"-" resta

"/" División "//" Division redondeada

"*" Multiplicación

**String Operations**

Variable[] len() = string lenght

Usar "\n" genera espacio

Usar "\t" para salto

In [ ]:
#usar "+" para concatenar string
a = "a"
b = "b"
c = a+b 
print(c)

ab

In [ ]:
#usar "*" para repetir string
d = c*2
print(d)

abab

**MODULE 2: Lists and Tuples**

In [ ]:
# Create your first tuple

tuple1 = ("disco",10,1.2 )
type(tuple1)

tuple

In [ ]:
# Print the variable on each index

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [ ]:
# Print the type of value on each index

print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
# Use negative index to get the value of the last element

tuple1[-1]

1.2

In [ ]:
#Concatenar tuplas
tuple2 = tuple1 + ("hard rock", 10)
print(tuple2)

('disco', 10, 1.2, 'hard rock', 10)

**Tuples Quiz**

In [ ]:
genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
print(genres_tuple)

#Find the length of the tuple, genres_tuple:

len(genres_tuple)

In [ ]:
#Access the element, with respect to index 3:

genres_tuple[3]

In [ ]:
#Use slicing to obtain indexes 3, 4 and 5:

genres_tuple[3:6]

In [ ]:
#Find the first two elements of the tuple genres_tuple:

genres_tuple[0:2]

In [ ]:
#Find the first index of "disco":

genres_tuple.index("disco")

In [ ]:
#Generate a sorted List from the Tuple C_tuple=(-5, 1, -3):

tuple = (-5,1,-3)
C_tuple = sorted(tuple)
C_tuple

**Lists Lab**

In [ ]:
#Create a list a_list, with the following elements 1, hello, [1,2,3] and True.
a_list = [1,'hello',[1,2,3],True]

print(a_list)

[1, 'hello', [1, 2, 3], True]

In [ ]:
#Find the value stored at index 1 of a_list.
a_list[1]

In [ ]:
#Retrieve the elements stored at index 1, 2 and 3 of a_list.
a_list[1:4]

In [ ]:
#Concatenate the following lists <code>A = \[1, 'a']</code> and <code>B = \[2, 1, 'd']</code>:

A = [1,'a']
B = [2,1,'d']
C = A+B
print(C)

[1, 'a', 2, 1, 'd']

Sets
A set is a unique collection of objects in Python. You can denote a set with a pair of curly brackets <b>{}</b>. Python will automatically remove duplicate items:

In [ ]:
# Create a set

set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [ ]:
# Convert list to set

album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
print(album_set)
type(album_set)

{None, 'Pop, Rock, R&B', 65, 'Thriller', 10.0, '30-Nov-82', 46.0, '00:42:19', 'Michael Jackson', 1982}

set

**Quiz Sets**

In [ ]:
#Convert the list ['rap','house','electronic music', 'rap'] to a set:

MyList = ['rap','house','electronic music', 'rap']
Set1 = set(MyList)
Set1

In [ ]:
#Consider the list A = [1, 2, 2, 1] and set B = set([1, 2, 2, 1]), does sum(A) == sum(B)

A = [1, 2, 2, 1]
B = set([1, 2, 2, 1])

Test = sum(A)==sum(B)
Test

False

In [ ]:
#Create a new set album_set3 that is the union of album_set1 and album_set2:

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

album_set3 = album_set1.union(album_set2)
album_set3

In [ ]:
#Find out if <code>album_set1</code> is a subset of <code>album_set3</code>:

set(album_set1).issubset(album_set3)

**Dictionaries**
You will need this dictionary for the next two questions:

In [ ]:
# Question sample dictionary

soundtrack_dic = {"The Bodyguard":"1992", "Saturday Night Fever":"1977"}
soundtrack_dic

In [ ]:
#a. In the dictionary soundtrack_dic what are the keys ?

soundtrack_dic.keys()

In [ ]:
#b. In the dictionary soundtrack_dic what are the values

soundtrack_dic.values()

In [ ]:
#You will need this dictionary for the following questions:
#The Albums Back in Black, The Bodyguard and Thriller have the following music recording sales in millions 50, 50 and 65 respectively:
#a) Create a dictionary album_sales_dict where the keys are the album name and the sales in millions are the values.

album_sales_dict = {'Back in Black': 50, 'The Bodyguard': 50, 'Thriller': 65}
album_sales_dict

In [ ]:
#b) Use the dictionary to find the total sales of Thriller:

album_sales_dict['Thriller']

In [ ]:
#c) Find the names of the albums from the dictionary using the method keys():

album_sales_dict.keys()

In [ ]:
#d) Find the values of the recording sales from the dictionary using the method values:

album_sales_dict.values()

**MODULE 3: Python fundamentals**

**Conditions and branching**

In [ ]:
#Write an if statement to determine if an album had a rating greater than 8. 
#Test it using the rating for the album “Back in Black” that had a rating of 8.5. If the statement is true print "This album is Amazing!"

rating = 8.5

if(rating>8):
    print('This album is Amazing¡')

In [ ]:
#Write an if-else statement that performs the following. If the rating is larger then eight print “this album is amazing”.
#If the rating is less than or equal to 8 print “this album is ok”.

if(rating>8):
    print('This album is Amazing¡')
elif(rating<=8):
    print('This album is ok')

In [ ]:
#Write an if statement to determine if an album came out before 1980 or in the years: 1991 or 1993. 
#If the condition is true print out the year the album came out.

Year = 1991

if(Year < 1980) or(Year == 1991) or(Year== 1993):
  print('The album came out in ' + str(Year))

**Loops**

In [ ]:
#Write a for loop the prints out all the element between -5 and 5 using the range function.

for i in range(-4,5):
  print(i)

-4
-3
-2
-1
0
1
2
3
4

In [ ]:
#Print the elements of the following list: Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop'] Make sure you follow Python conventions.

Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']

for allgenres in Genres:
  print(allgenres)

In [ ]:
#Write a for loop that prints out the following list: squares=['red', 'yellow', 'green', 'purple', 'blue']

squares=['red', 'yellow', 'green', 'purple', 'blue']

for allsquares in squares:
   print(allsquares)

In [ ]:
#Write a while loop to display the values of the Rating of an album playlist stored in the list PlayListRatings. 
#If the score is less than 6, exit the loop. The list PlayListRatings is given by: PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]

PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]

i=0

while (PlayListRatings[i] > 6):
  print(PlayListRatings[i])
  i = i+1

In [ ]:
#Write a while loop to copy the strings 'orange' of the list squares to the list new_squares. 
#Stop and exit the loop if the value on the list is not 'orange':

squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []

i=0

while (squares[i] == 'orange'):
  new_squares.append(squares[i])
  i=i+1

new_squares